
<h4>Help</h4>

<h5>Global</h5>
<table class="table table-bordered">
<tr><td width="50%">ctrl+s</td><td>save</td></tr>
<tr><td>ctrl+shift+right</td><td>save and next</td></tr>
<tr><td>ctrl+shift+left</td><td>save and previous</td></tr>
</table>

<h5>Text Input</h5>
<table class="table table-bordered">
<tr><td width="50%">enter</td><td>add label</td></tr>
<tr><td>ctrl+enter</td><td>add label into new folder</td></tr>
<tr><td>escape</td><td>focus on label tree</td></tr>
<tr><td>ctrl+k</td><td>toggle upper/lower case</td></tr>
</table>

<h5>Label tree</h5>
<table class="table table-bordered">
<tr><td width="50%">escape</td><td>focus on text input</td></tr>
<tr><td>ctrl+up</td><td>switch currently selected label</td></tr>
<tr><td>ctrl+down</td><td>switch currently selected label</td></tr>
<tr><td>ctrl+left</td><td>move label to lower folder</td></tr>
<tr><td>ctrl+up</td><td>move label to upper folder</td></tr>
<tr><td>ctrl+x</td><td>cut label/dir from tree</td></tr>
<tr><td>ctrl+v</td><td>insert label/dir into tree</td></tr>
<tr><td>ctrl+e / mouse doubleclick</td><td>edit label</td></tr>
<tr><td>ctrl+k</td><td>toggle upper/lower case</td></tr>
</table>

<h5>Image</h5>
<table class="table table-bordered">
<tr><td width="50%">mouse click</td><td>toggle between original and fullscreen view</td></tr>
</table>