
#container {
	width: 100%;
}

#split-container {

}

.goog-splitpane-first-container, .goog-splitpane-second-container {
	overflow: auto;
}

.goog-splitpane-second-container {
  padding: 5px 10px;
}

.goog-splitpane-handle {
	background: silver;
}

.img-full {
	max-width: 100%;
	max-height: 100%;
}




/*
 * Copyright 2007 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/* Author: arv@google.com (Erik Arvidsson) */
/* Author: eae@google.com (Emil A Eklund) */
/* Author: jonp@google.com (Jon Perlow) */

/*
  TODO(arv): Currently the sprite image has the height 16px. We should make the
  image taller which would allow better flexibility when it comes to the height
  of a tree row.
*/

.goog-tree-root:focus {
  outline: none;
}

.goog-tree-row {
  white-space: nowrap;
  font: icon;
  line-height: 16px;
  height: 16px;
}

.goog-tree-row span {
  overflow: hidden;
  text-overflow: ellipsis;
}

.goog-tree-children {
  background-repeat: repeat-y;
  background-image: url(/img/I.png) !important;
  background-position-y: 1px !important;	/* IE only */
  font: icon;
}

.goog-tree-children-nolines {
  font: icon;
}

.goog-tree-icon {
  background-image: url(/img/tree.png);
}

.goog-tree-expand-icon {
  vertical-align: middle;
  height: 16px;
  width: 16px;
  cursor: default;
}

.goog-tree-expand-icon-plus {
  width: 19px;
  background-position: 0 0;
}

.goog-tree-expand-icon-minus {
  width: 19px;
  background-position: -24px 0;
}

.goog-tree-expand-icon-tplus {
  width: 19px;
  background-position: -48px 0;
}

.goog-tree-expand-icon-tminus {
  width: 19px;
  background-position: -72px 0;
}

.goog-tree-expand-icon-lplus {
  width: 19px;
  background-position: -96px 0;
}

.goog-tree-expand-icon-lminus {
  width: 19px;
  background-position: -120px 0;
}

.goog-tree-expand-icon-t {
  width: 19px;
  background-position: -144px 0;
}

.goog-tree-expand-icon-l {
  width: 19px;
  background-position: -168px 0;
}

.goog-tree-expand-icon-blank {
  width: 19px;
  background-position: -168px -24px;
}

.goog-tree-collapsed-folder-icon {
  vertical-align: middle;
  height: 16px;
  width: 16px;
  background-position: -0px -24px;
}

.goog-tree-expanded-folder-icon {
  vertical-align: middle;
  height: 16px;
  width: 16px;
  background-position: -24px -24px;
}

.goog-tree-file-icon {
  vertical-align: middle;
  height: 16px;
  width: 16px;
  background-position: -48px -24px;
}

.goog-tree-item-label {
  margin-left: 3px;
  padding: 1px 2px 1px 2px;
  text-decoration: none;
  color: WindowText;
  cursor: default;
}

.goog-tree-item-label:hover {
  text-decoration: underline;
}

.selected .goog-tree-item-label {
  background-color: ButtonFace;
  color: ButtonText;
}

.focused .selected .goog-tree-item-label {
  background-color: Highlight;
  color: HighlightText;
}

.goog-tree-hide-root {
  display: none;
}







/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/* Author: pupius@google.com (Daniel Pupius) */
/* Author: cibu@google.com (Cibu Johny) */

.goog-char-picker {
  background-color: #ddd;
  padding: 16px;
  border: 1px solid #777;
}

/* goog.ui.HoverCard */
.goog-char-picker-hovercard {
  border: solid 5px #ffcc33;
  min-width: 64px;
  max-width: 160px;
  padding: 16px;
  background-color: white;
  text-align: center;
  position: absolute;
  visibility: hidden;
}

.goog-char-picker-name {
  font-size: x-small;
}

.goog-char-picker-unicode {
  font-size: x-small;
  color: GrayText;
}

.goog-char-picker-char-zoom {
  font-size: xx-large;
}

/*
 * grid
 */
.goog-char-picker-grid-container {
  border: 1px solid #777;
  background-color: #fff;
  width: 272px;
}

.goog-char-picker-grid {
  overflow: hide;
  height: 250px;
  width: 250px;
  position: relative;
}

.goog-stick {
  width: 1px;
  overflow: hidden;
}
.goog-stickwrap {
  width: 17px;
  height: 250px;
  float: right;
  overflow: auto;
}

.goog-char-picker-recents {
  border: 1px solid #777;
  background-color: #fff;
  height: 25px;
  width: 275px;
  margin: 0 0 16px 0;
  position: relative;
}

.goog-char-picker-notice {
  font-size: x-small;
  height: 16px;
  color: GrayText;
  margin: 0 0 16px 0;
}

/*
 * Hex entry
 */

.goog-char-picker-uplus {
}

.goog-char-picker-input-box {
  width: 96px;
}

.label-input-label {
  color: GrayText;
}

.goog-char-picker-okbutton {
}

/*
 * Grid buttons
 */
.goog-char-picker-grid .goog-flat-button {
  position: relative;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.goog-char-picker-grid .goog-flat-button-hover,
.goog-char-picker-grid .goog-flat-button-focus {
  background-color: #ffcc33;
}

/*
 * goog.ui.Menu
 */

/* State: resting. */
.goog-char-picker-button {
  border-width: 0px;
  margin: 0;
  padding: 0;
  position: absolute;
  background-position: center left;
}

/* State: resting. */
.goog-char-picker-menu {
  background-color: #fff;
  border-color: #ccc #666 #666 #ccc;
  border-style: solid;
  border-width: 1px;
  cursor: default;
  margin: 0;
  outline: none;
  padding: 0;
  position: absolute;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hide;
}

/*
 * goog.ui.MenuItem
 */

/* State: resting. */
.goog-char-picker-menu .goog-menuitem {
  color: #000;
  list-style: none;
  margin: 0;
  /* 28px on the left for icon or checkbox; 10ex on the right for shortcut. */
  padding: 1px 32px 1px 8px;
  white-space: nowrap;
}

.goog-char-picker-menu2 .goog-menuitem {
  color: #000;
  list-style: none;
  margin: 0;
  /* 28px on the left for icon or checkbox; 10ex on the right for shortcut. */
  padding: 1px 32px 1px 8px;
  white-space: nowrap;
}

.goog-char-picker-menu .goog-subtitle {
  color: #fff !important;
  background-color: #666;
  font-weight: bold;
  list-style: none;
  margin: 0;
  /* 28px on the left for icon or checkbox; 10ex on the right for shortcut. */
  padding: 3px 32px 3px 8px;
  white-space: nowrap;
}

/* BiDi override for the resting state. */
.goog-char-picker-menu .goog-menuitem-rtl {
  /* Flip left/right padding for BiDi. */
  padding: 2px 16px 2px 32px !important;
}

/* State: hover. */
.goog-char-picker-menu .goog-menuitem-highlight {
  background-color: #d6e9f8;
}
/*
 * goog.ui.MenuSeparator
 */

/* State: resting. */
.goog-char-picker-menu .goog-menuseparator {
  border-top: 1px solid #ccc;
  margin: 2px 0;
  padding: 0;
}















/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/*
 * Standard styling for buttons created by goog.ui.MenuButtonRenderer.
 *
 * @author attila@google.com (Attila Bodis)
 */


/* State: resting. */
.goog-menu-button {
  /* Client apps may override the URL at which they serve the image. */
  background: #ddd url(//ssl.gstatic.com/editor/button-bg.png) repeat-x top left;
  border: 0;
  color: #000;
  cursor: pointer;
  list-style: none;
  margin: 2px;
  outline: none;
  padding: 0;
  text-decoration: none;
  vertical-align: middle;
}

/* Pseudo-rounded corners. */
.goog-menu-button-outer-box,
.goog-menu-button-inner-box {
  border-style: solid;
  border-color: #aaa;
  vertical-align: top;
}
.goog-menu-button-outer-box {
  margin: 0;
  border-width: 1px 0;
  padding: 0;
}
.goog-menu-button-inner-box {
  margin: 0 -1px;
  border-width: 0 1px;
  padding: 3px 4px;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
* html .goog-menu-button-inner-box {
  /* IE6 needs to have the box shifted to make the borders line up. */
  left: -1px;
}

/* Pre-IE7 BiDi fixes. */
* html .goog-menu-button-rtl .goog-menu-button-outer-box {
  /* @noflip */ left: -1px;
  /* @noflip */ right: auto;
}
* html .goog-menu-button-rtl .goog-menu-button-inner-box {
  /* @noflip */ right: auto;
}

/* IE7-only hack; ignored by all other browsers. */
*:first-child+html .goog-menu-button-inner-box {
  /* IE7 needs to have the box shifted to make the borders line up. */
  left: -1px;
}
/* IE7 BiDi fix. */
*:first-child+html .goog-menu-button-rtl .goog-menu-button-inner-box {
  /* @noflip */ left: 1px;
  /* @noflip */ right: auto;
}

/* Safari-only hacks. */
::root .goog-menu-button,
::root .goog-menu-button-outer-box,
::root .goog-menu-button-inner-box {
  /* Required to make pseudo-rounded corners work on Safari. */
  line-height: 0;
}
::root .goog-menu-button-caption,
::root .goog-menu-button-dropdown {
  /* Required to make pseudo-rounded corners work on Safari. */
  line-height: normal;
}

/* State: disabled. */
.goog-menu-button-disabled {
  background-image: none !important;
  opacity: 0.3;
  -moz-opacity: 0.3;
  filter: alpha(opacity=30);
}
.goog-menu-button-disabled .goog-menu-button-outer-box,
.goog-menu-button-disabled .goog-menu-button-inner-box,
.goog-menu-button-disabled .goog-menu-button-caption,
.goog-menu-button-disabled .goog-menu-button-dropdown {
  color: #333 !important;
  border-color: #999 !important;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
* html .goog-menu-button-disabled {
  margin: 2px 1px !important;
  padding: 0 1px !important;
}

/* IE7-only hack; ignored by all other browsers. */
*:first-child+html .goog-menu-button-disabled {
  margin: 2px 1px !important;
  padding: 0 1px !important;
}

/* State: hover. */
.goog-menu-button-hover .goog-menu-button-outer-box,
.goog-menu-button-hover .goog-menu-button-inner-box {
  border-color: #9cf #69e #69e #7af !important; /* Hover border wins. */
}

/* State: active, open. */
.goog-menu-button-active,
.goog-menu-button-open {
  background-color: #bbb;
  background-position: bottom left;
}

/* State: focused. */
.goog-menu-button-focused .goog-menu-button-outer-box,
.goog-menu-button-focused .goog-menu-button-inner-box {
  border-color: orange;
}

/* Caption style. */
.goog-menu-button-caption {
  padding: 0 4px 0 0;
  vertical-align: top;
}

/* Dropdown arrow style. */
.goog-menu-button-dropdown {
  height: 15px;
  width: 7px;
  /* Client apps may override the URL at which they serve the sprite. */
  background: url(//ssl.gstatic.com/editor/editortoolbar.png) no-repeat -388px 0;
  vertical-align: top;
}

/* Pill (collapsed border) styles. */
/* TODO(gboyer): Remove specific menu button styles and have any button support being a menu button. */
.goog-menu-button-collapse-right,
.goog-menu-button-collapse-right .goog-menu-button-outer-box,
.goog-menu-button-collapse-right .goog-menu-button-inner-box {
  margin-right: 0;
}

.goog-menu-button-collapse-left,
.goog-menu-button-collapse-left .goog-menu-button-outer-box,
.goog-menu-button-collapse-left .goog-menu-button-inner-box {
  margin-left: 0;
}

.goog-menu-button-collapse-left .goog-menu-button-inner-box  {
  border-left: 1px solid #fff;
}

.goog-menu-button-collapse-left.goog-menu-button-checked
.goog-menu-button-inner-box {
  border-left: 1px solid #ddd;
}


/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/*
 * Cross-browser implementation of the "display: inline-block" CSS property.
 * See http://www.w3.org/TR/CSS21/visuren.html#propdef-display for details.
 * Tested on IE 6 & 7, FF 1.5 & 2.0, Safari 2 & 3, Webkit, and Opera 9.
 *
 * @author attila@google.com (Attila Bodis)
 */

/*
 * Default rule; only Safari, Webkit, and Opera handle it without hacks.
 */
.goog-inline-block {
  position: relative;
  display: -moz-inline-box; /* Ignored by FF3 and later. */
  display: inline-block;
}

/*
 * Pre-IE7 IE hack.  On IE, "display: inline-block" only gives the element
 * layout, but doesn't give it inline behavior.  Subsequently setting display
 * to inline does the trick.
 */
* html .goog-inline-block {
  display: inline;
}

/*
 * IE7-only hack.  On IE, "display: inline-block" only gives the element
 * layout, but doesn't give it inline behavior.  Subsequently setting display
 * to inline does the trick.
 */
*:first-child+html .goog-inline-block {
  display: inline;
}

